# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{js,jsx,ts,tsx}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[*.py]
indent_size = 4

[*.java]
indent_size = 4

[*.c,*.h]
indent_size = 4

[*.cpp,*.hpp]
indent_size = 4

[*.cs]
indent_size = 4

[*.rb]
indent_size = 2

[*.php]
indent_size = 4

[*.swift]
indent_size = 4

[*.kt]
indent_size = 4

[*.scala]
indent_size = 2

[*.groovy]
indent_size = 4

[*.gradle]
indent_size = 4

[*.xml]
indent_size = 2

[*.html]
indent_size = 2

[*.css]
indent_size = 2

[*.scss]
indent_size = 2

[*.less]
indent_size = 2

[*.sass]
indent_size = 2

[*.styl]
indent_size = 2

[*.coffee]
indent_size = 2

[*.dart]
indent_size = 2

[*.lua]
indent_size = 2

[*.r]
indent_size = 2

[*.R]
indent_size = 2

[*.m]
indent_size = 4

[*.mm]
indent_size = 4

[*.pl]
indent_size = 4

[*.pm]
indent_size = 4

[*.t]
indent_size = 4

[*.sh]
indent_size = 2

[*.bash]
indent_size = 2

[*.zsh]
indent_size = 2

[*.fish]
indent_size = 2

[*.ps1]
indent_size = 4

[*.psm1]
indent_size = 4

[*.psd1]
indent_size = 4

[*.bat]
indent_size = 4

[*.cmd]
indent_size = 4

[*.vbs]
indent_size = 4

[*.wsf]
indent_size = 4

[*.ahk]
indent_size = 4

[*.au3]
indent_size = 4

[*.kix]
indent_size = 4

[*.nsi]
indent_size = 4

[*.nsh]
indent_size = 4

[*.iss]
indent_size = 4

[*.lua]
indent_size = 2

[*.tcl]
indent_size = 2

[*.tk]
indent_size = 2

[*.itk]
indent_size = 2

[*.exp]
indent_size = 2

[*.m4]
indent_size = 2

[*.ac]
indent_size = 2

[*.am]
indent_size = 2

[*.cmake]
indent_size = 2

[CMakeLists.txt]
indent_size = 2

[Makefile.*]
indent_style = tab

[GNUmakefile]
indent_style = tab

[makefile]
indent_style = tab

[Makefile]
indent_style = tab

[Dockerfile.*]
indent_size = 2

[Dockerfile]
indent_size = 2

[.dockerignore]
indent_size = 2

[.gitignore]
indent_size = 2

[.gitattributes]
indent_size = 2

[.gitmodules]
indent_size = 2

[.editorconfig]
indent_size = 2

[.eslintrc*]
indent_size = 2

[.prettierrc*]
indent_size = 2

[.stylelintrc*]
indent_size = 2

[.lintstagedrc*]
indent_size = 2

[.huskyrc*]
indent_size = 2

[.commitlintrc*]
indent_size = 2

[.releaserc*]
indent_size = 2

[.npmrc]
indent_size = 2

[.yarnrc]
indent_size = 2

[.yarnrc.yml]
indent_size = 2

[.nvmrc]
indent_size = 2

[.node-version]
indent_size = 2

[.python-version]
indent_size = 2

[.ruby-version]
indent_size = 2

[.java-version]
indent_size = 2

[.go-version]
indent_size = 2

[.rust-version]
indent_size = 2

[.tool-versions]
indent_size = 2

[*.lock]
indent_size = 2

[*.log]
indent_size = 2

[*.tmp]
indent_size = 2

[*.temp]
indent_size = 2

[*.bak]
indent_size = 2

[*.backup]
indent_size = 2

[*.orig]
indent_size = 2

[*.swp]
indent_size = 2

[*.swo]
indent_size = 2

[*~]
indent_size = 2